<!-- File: src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <!-- Use Bootstrap CSS from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Expense Tracker Application</h1>
    <p>Welcome to the Expense Tracker Application. Use the links below to navigate:</p>
    <div class="list-group">
        <a th:href="@{/users}" class="list-group-item list-group-item-action">Manage Users</a>
        <a th:href="@{/expenses}" class="list-group-item list-group-item-action">Track Expenses</a>
    </div>
</div>
<!-- Include Bootstrap JS from a CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
