<!-- File: src/main/resources/templates/user-detail.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Detail</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>User Detail</h1>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9" th:text="${user.id}">1</dd>
        <dt class="col-sm-3">Username</dt>
        <dd class="col-sm-9" th:text="${user.username}">username</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9" th:text="${user.email}">email@example.com</dd>
    </dl>
    <a th:href="@{/users}" class="btn btn-secondary">Back to List</a>
</div>
</body>
</html>
