<!-- File: src/main/resources/templates/user-detail.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Detail</title>
    <!-- Use Bootstrap CSS from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">User Detail</h1>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9" th:text="${user.id}">1</dd>
        <dt class="col-sm-3">Username</dt>
        <dd class="col-sm-9" th:text="${user.username}">username</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9" th:text="${user.email}">email@example.com</dd>
    </dl>
    <a th:href="@{/users}" class="btn btn-secondary">Back to List</a>
</div>
<!-- Include Bootstrap JS from a CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
